
  .contact-info-footer {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust margin between each contact info */
  }
  
  .contact-icon-footer {
    color: white;
    margin-right: 10px; /* Adjust the spacing between icon and text */
    font-size: 20px; /* Increase the font size of the icon */
  text-decoration: none;

}
  
  .icon-text-footer {
    color: rgb(255, 255, 255);
    margin: 0; /* Remove default margin */
  }

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #2B2B2D;
}

.footerin1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    /* padding: 0 30px; */
}

.footerin1 .f1{
    padding: 0 30px;

}

/* .footerin1 .f2{
    padding-right:0;

} */


.footerin1 div {
    width: 15%;
    min-width: 200px;
}

.footerin1 .f1, .footerin1 .f2, .footerin1 .f3 {
    width: 30%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.footerin1 .f1 img {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footerin1 .f1 p, .footerin1 .f2 p, .footerin1 .f3 p {
    font-size: 16px;
    color: #ffffff;
    font-weight: 200;
    width: 100%;
}

.footerin1 .f2, .footerin1 .f3 {
    padding-top: 20px;
    color: #ffffff;
    /* background-color: aqua; */
}

.footerin1 .f2{
    width: 10%;

}

.footerin1 .f2 h3, .footerin1 .f3 h3 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
    width: 90%;
    color: #ffffff;
}

.footerin1 .f2 p, .footerin1 .f3 p {
    font-size: 15px;
    font-weight: 200;
    margin: 3px 0px;
    color: #ffffff;
    width: 90%;
}

.footerin1 .f2 p:hover, .footerin1 .f3 p:hover {
    cursor: pointer;
    color: var(--col1);
}

.footerin1 .f2 .inputcontainer, .footerin1 .f3 .inputcontainer {
    display: flex;
    flex-direction: row;
    width: 220px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    margin: 10px 0px;
    padding: 5px 5px;
}

.footerin1 .icon1 svg, .footerin1 .icon2 svg {
    width: 20px;
    height: 20px;
    color: var(--col1);
}

.footerin1 .f2 .inputcontainer input, .footerin1 .f3 .inputcontainer input {
    width: 80%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 200;
    color: #ffffff;
}

.footerin2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ffffff;
}

.footerin2 h3 {
    font-size: 17px;
    font-weight: 300;
    color: #ffffff;
    
}

.footerin2 img {
    width: 300px;
}

@media (max-width: 650px) {
    .footer .f1, .footer .f2, .footer .f3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .footerin2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
}
